@import "colors";
@import "sizes";
@import "mixins";

html {
    background-color: $background;
    font-family: 'Dosis', sans-serif;
    color: $text;
    hyphens: auto;

    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

    height: 100%;

    display: grid;
    grid-template-rows: 0fr 0fr;
}

header,
main,
footer {
    a {
        @include links($link, $link-active, $link-visited);
        @include links_decor(text-decoration, none, underline, none);
    }
}

nav {
    background-color: $background-secondary;
}

header h1 {
    text-decoration: underline;
}

pre {
    background-color: $background-secondary;
    padding: $gap / 3;

    border-radius: $gap / 3;
    border: $border-width solid $border-color;
}
