@mixin select($color, $active, $visited, $visited-active) {
    color: $color;

    &:hover,
    &:active,
    &:focus {
        color: $active;
    }

    &:visited {
        color: $visited;

        &:hover,
        &:active,
        &:focus {
            color: #{$visited-active};
        }
    }
}

@mixin decor($rule, $decor, $active, $visited) {
    #{$rule}: #{$decor};
    
    &:visited {
        #{$rule}: #{$visited};
    }

    &:hover,
    &:active,
    &:focus {
        #{$rule}: #{$active};
    }
}

@mixin vendorPrefix($attribute, $value) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, "" {
        #{$prefix}#{$attribute}: $value;
    }
}
